<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Night Life App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="search">

                <% if(userLoggedIn) { %>
                <i class="fa fa-user fa-2x userIcon" aria-hidden="true"></i> <span> Logged in as <span class="userEmail"><%= userDetails.local.email || userDetails.facebook.email %></span></span>  <a href="/logout" class="btn btn-default"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>

                    <% } else {%>
                    <a href="/signin" class="btn btn-default"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
                        <%} %>


            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>