<h3 class="signUpText">Please login or sign in to manage your polls.</h3>
<div id="userPollsLogButton">
<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
</div>