body {
    background-image: url("congruent_pentagon.png");
}

.canv {
    height: 300px;
    width: 300px;
}

iframe {
    border: none;
}

.userPolls {
    text-align: center;
}

.removeInput {
    float: none;
}

.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: rgba( 255, 255, 255, .8 ) 
              
}

body.loading {
    overflow: hidden;   
}

.loadingModal i {
    position: relative;
    left: 50%;
    top: 50%;
}


body.loading .loadingModal {
    display: block;
}


.pollsSection {
    background-color: #b0d5f4;
    border-radius: 5px;
        margin-top: 2%;
    box-shadow: 3px 3px 12px #4a4646;
    
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    /* border: 1px solid transparent; */
    /* border-radius: 4px; */
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
/*    border-bottom: 4px solid #4CAF50;*/
}


.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    box-shadow: 2px 0px 12px #4a4646;
    
}

.panel-title {
    font-size: 1.7em;
}


